@import "_variables";

.archive {
  &__list {
    margin: 0;
  }

  &__item {
    padding: 32px 0;
    border-bottom: 1px solid rgba($color: #3983c8, $alpha: 0.2);
  }

  &__article {
    display: flex;
    img {
      width: 250px;
      height: 180px;
      object-fit: cover;
    }
  }

  &__meta {
    width: 72%;
    margin-left: 24px;
  }

  &__cat {
    a {
      color: #3983c8;
    }
  }

  &__date {
    margin-left: 24px;
    color: #3983c8;
  }

  &__title {
    font-size: 19px;
    font-weight: 600;

    a {
      color: #000000;
    }
  }

  &__content p {
    font-size: 15px;
    color: #000000;
  }
}

@include mq(mobile) {
  .archive {
    &__article {
      flex-direction: column;
      padding: 0 20px;

      .attachment-post-thumbnail {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__meta {
      width: 100%;
      margin-left: 0;
    }

    &__cat {
      display: inline-block;
      margin-top: 12px;
      font-size: 12px;
    }

    &__date {
      font-size: 12px;
    }

    &__title {
      margin: 8px 0 0;
      font-size: 16px;
    }

    &__content p {
      margin: 8px 0 0;
      font-size: 13px;
    }
  }
}
