*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
