@import "_variables";

.company {
  &__mainVisual {
    position: relative;
  }

  &__mainVisualHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: $white;
    letter-spacing: 8px;
    transform: translate(-50%, -100%);
  }

  &__leadInner {
    width: 50%;
    max-width: $--content-width-md;
    margin: 0 auto 0 10%;
  }

  &__leadHeading {
    margin: 100px 0 0;
    font-size: 40px;
    color: $--color-primary;
    letter-spacing: 3px;
  }

  &__leadParagraph {
    font-size: 17px;
    line-height: 1.8;

    &:first-of-type {
      margin-top: 72px;
    }

    &:not(:first-of-type) {
      margin: 40px 0 0;
    }
  }

  &__lead {
    position: relative;

    &::before {
      position: absolute;
      top: 140px;
      right: 0;
      width: 32vw;
      height: 16vw;
      content: "";
      background-color: $--color-primary-tint-very-light;
    }

    &::after {
      position: absolute;
      top: 40px;
      right: 20vw;
      width: 234px;
      height: 246px;
      content: "";
      background-image: url(assets/img/logo_dark-vertical@2x.png);
      background-size: cover;
    }
  }

  &__message {
    position: relative;
    margin: 140px 0 0;

    &::before {
      position: absolute;
      top: 38px;
      z-index: -1;
      width: 46%;
      height: 500px;
      content: "";
      background-color: $--color-primary-tint-very-light;
    }
  }

  &__messageInner {
    max-width: 1050px;
    margin: 0 auto;
  }

  &__messageHeading {
    margin: 0;
    font-size: 50px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 10px;
  }

  &__messageContents {
    display: flex;
    align-items: flex-start;
    margin: 48px 0 0;
  }

  &__messageText {
    margin: 64px 0 0 56px;
  }

  &__messageSubHeading {
    margin: 0;
    font-size: 30px;
    color: $--color-primary;
  }

  &__messageParagraph {
    margin: 40px 0 0;
    font-size: 17px;
    line-height: 1.8;
  }

  &__messagePresidentName {
    font-size: 20px;
    line-height: 1.8;
  }

  &__messageContents {
    margin: 48px 0 0;
  }

  &__overview {
    display: flex;
    margin: 100px auto 0 10%;

    dl {
      width: 100%;
      margin-left: 8%;
      font-size: 15px;
      letter-spacing: 2px;
    }

    dt {
      width: 9%;
      font-weight: 600;
      color: $--color-primary;
    }

    dd {
      margin-left: 80px;
    }
  }

  &__overviewHeading {
    margin: 0;
    font-size: 50px;
    color: $--color-primary;
    letter-spacing: 10px;
  }

  &__overviewRow {
    display: flex;
    padding: 24px 0 24px 12px;
    border-top: 1px solid rgba(4, 40, 126, 0.15);

    &:last-child {
      border-bottom: 1px solid rgba(4, 40, 126, 0.15);
    }
  }
}
