@import "_variables";

.company {
  &__leadInner {
    width: 50%;
    max-width: $--content-width-md;
    margin: 0 auto 0 10%;
  }

  &__leadHeading {
    margin: 100px 0 0;
    font-size: 40px;
    color: $--color-primary;
    letter-spacing: 3px;
  }

  &__leadParagraph {
    font-size: 17px;
    line-height: 1.8;

    &:first-of-type {
      margin-top: 56px;
    }

    &:not(:first-of-type) {
      margin: 40px 0 0;
    }
  }

  &__lead {
    position: relative;

    &::before {
      position: absolute;
      top: 140px;
      right: 0;
      width: 32vw;
      height: 16vw;
      content: "";
      background-color: $--color-primary-tint-very-light;
    }

    &::after {
      position: absolute;
      top: 40px;
      right: 20vw;
      width: 234px;
      height: 246px;
      content: "";
      background-image: url(assets/img/logo_dark-vertical@2x.png);
      background-size: cover;
    }
  }

  &__message {
    position: relative;
    margin: 140px 0 0;

    &::before {
      position: absolute;
      top: 38px;
      z-index: -1;
      width: 46%;
      height: 500px;
      content: "";
      background-color: $--color-primary-tint-very-light;
    }
  }

  &__messageInner {
    max-width: 1050px;
    margin: 0 auto;
  }

  &__messageHeading {
    margin: 0;
    font-size: 50px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 10px;
  }

  &__messageContents {
    display: flex;
    align-items: flex-start;
    margin: 48px 0 0;
  }

  &__messageText {
    margin: 64px 0 0 56px;
  }

  &__messageSubHeading {
    margin: 0;
    font-size: 30px;
    color: $--color-primary;
  }

  &__messageParagraph {
    margin: 40px 0 0;
    font-size: 17px;
    line-height: 1.8;

    &:first-of-type {
      margin-top: 32px;
    }
  }

  &__messagePresidentName {
    margin: 32px 0 0;
    font-size: 20px;
    line-height: 1.8;
  }

  &__messageContents {
    margin: 48px 0 0;
  }

  &__overview {
    display: flex;
    max-width: $--content-width-md;
    margin: 100px auto 0 10%;

    dl {
      width: 100%;
      margin-left: 8%;
      font-size: 15px;
      letter-spacing: 2px;
    }

    dt {
      width: 16%;
      font-weight: 600;
      color: $--color-primary;
    }

    dd {
      width: 96%;
      margin-left: 80px;
    }
  }

  &__overviewHeading {
    margin: 0;
    font-size: 50px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 10px;
  }

  &__overviewRow {
    display: flex;
    padding: 24px 0 24px 12px;
    border-top: 1px solid rgba(4, 40, 126, 0.15);

    &:last-child {
      border-bottom: 1px solid rgba(4, 40, 126, 0.15);
    }
  }
}

@include mq(mobile) {
  .company {
    &__leadInner {
      width: 100%;
      padding: 220px 20px 0;
      margin: 0;
    }

    &__lead {
      &::before {
        top: 27vw;
        width: 57vw;
        height: 31.47vw;
      }
      &::after {
        right: auto;
        left: 50%;
        width: 36.53vw;
        height: 38.4vw;
        transform: translateX(-50%);
      }
    }

    &__leadHeading {
      margin: 32px 0 0;
      font-size: 22px;
      letter-spacing: 1px;
    }

    &__leadParagraph {
      font-size: 13px;

      &:first-of-type {
        margin-top: 16px;
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    &__message {
      margin: 60px 0 0;

      &::before {
        top: 24px;
        width: 69.9vw;
        height: 88vw;
      }
    }

    &__messageHeading {
      font-size: 30px;
      letter-spacing: 6px;
    }

    &__messageContents {
      flex-direction: column;
      padding: 0 20px;
      margin: 24px 0 0;
    }

    &__messageText {
      margin: 80px 0 0;
    }

    &__messageSubHeading {
      font-size: 15px;
    }

    &__messageParagraph {
      margin: 12px 0 0;
      font-size: 13px;
    }

    &__messagePresidentName {
      font-size: 13px;
    }

    &__overview {
      flex-direction: column;
      padding: 0 20px;
      margin: 60px 0 0;

      dl {
        margin-left: 0;
      }

      dt {
        width: 100%;
      }

      dd {
        margin: 4px 0 0;
      }
    }

    &__overviewHeading {
      font-size: 30px;
      letter-spacing: 6px;
    }

    &__overviewRow {
      flex-direction: column;
    }
  }
}
