@import "_variables";

.footer {
  &__links {
    display: flex;
  }

  &__linksBlock {
    position: relative;
    width: 50%;
    height: 140px;
    letter-spacing: 1px;
    $this: &;

    &:first-of-type {
      background-color: $--color-primary-tint;

      #{$this}Inner {
        right: 20%;
      }
    }

    &:nth-of-type(2) {
      background-color: $--color-primary-tint-light;

      #{$this}Inner {
        left: 20%;
      }
    }
  }

  &__linksBlockInner {
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
  }

  &__linkHeading {
    margin: 0 0 12px;
    font-size: 18px;
    color: $white;
    text-align: center;
  }

  &__linkButton {
    display: block;
    padding: 10px 48px;
    font-weight: 600;
    color: $--color-primary-tint;
    background-color: $white;
  }

  &__businessHours {
    display: block;
    font-size: 13px;
    color: $white;
    text-align: center;
  }

  &__address {
    display: block;
    font-size: 22px;
    font-style: normal;
    color: $white;
    text-align: center;
  }

  &__logo {
    display: block;
    width: 300px;
    margin: 48px auto 0;
  }

  &__nav {
    .menu {
      display: flex;
      justify-content: center;
      max-width: $--content-width-sm;
      padding: 16px 0;
      margin: 48px auto 0;
      border-top: 1px solid rgba(4, 40, 126, 0.15);
      border-bottom: 1px solid rgba(4, 40, 126, 0.15);
    }

    .menu-item {
      &:not(:first-child) {
        margin-left: 64px;
      }

      a {
        font-size: 17px;
        font-weight: 600;
        color: $--color-primary;
      }
    }
  }

  &__companyInfo {
    display: flex;
    max-width: $--content-width-sm;
    margin: 48px auto;
  }

  &__companyOverview {
    width: 100%;
    font-weight: 600;
    color: $--color-primary;
    letter-spacing: 1px;
  }

  &__companyName {
    font-size: 18px;
  }

  &__companyAddress {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    font-style: normal;
  }

  &__companyText {
    width: 100%;
    margin-top: 0;
    font-size: 13px;
    line-height: 1.9;
    color: $--color-primary;
    letter-spacing: 1px;
  }

  &__companyCopyrightWrapper {
    padding: 4px 0;
    text-align: center;
    background-color: $--color-primary;
  }

  &__companyCopyright {
    font-size: 11px;
    color: $white;
  }
}
