@import "_variables";

.header {
  position: relative;
  width: 100%;
  min-width: 1100px;

  &__nav {
    div {
      position: absolute;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    &.-hasLogo {
      div {
        left: 780px;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      margin: 34px 0 0;
      font-size: 17px;

      a {
        font-weight: 600;
        color: $white;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .menu-item {
      margin: 0 32px;
      letter-spacing: 3px;
    }
  }

  &.-fixed,
  &.home.-fixed {
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: rgba($color: $white, $alpha: 0.9);
  }

  &.products,
  &.-fixed {
    box-shadow: 0px 0px 14.76px 3.24px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    .-hasLogo {
      display: flex;
      padding: 24px 0 18px;

      & > div {
        position: relative;
        left: auto;
        margin: 10px 0 0 62px;
        transform: none;
      }
    }

    .menu {
      margin: 0;

      a {
        color: $--color-primary;
      }
    }

    .custom-logo-link {
      position: relative;
      top: auto;
      left: auto;
      width: 254px;
      margin: 0 0 0 32px;

      img {
        width: 100%;
        min-width: 254px;
        height: auto;
        filter: none;
      }
    }
  }

  &.products.-fixed {
    top: 0;

    & + .site-main {
      // headerの高さ96 + mainのmargin-top:60
      margin-top: 154px;
    }
  }

  &.home {
    .custom-logo-link {
      display: none;
    }

    &.-fixed {
      .custom-logo-link {
        display: block;
      }

      .menu-menu-1-container {
        position: relative;
        left: auto;
        margin: 10px 0 0 62px;
        transform: none;
      }

      nav {
        display: flex;
        padding: 24px 0 18px;
      }
    }
  }

  &__hammenu {
    position: absolute;
    top: 2px;
    right: 6px;
    z-index: 200;
  }

  &__trigger,
  &__trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.4s;
  }

  &__trigger {
    position: relative;
    width: 52px;
    height: 52px;
  }

  &__trigger span {
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background-color: #fff;

    &:first-of-type {
      transform: translate(-50%, 16px);
    }

    &:nth-of-type(2) {
      top: 48%;
      transform: translate(-50%, -50%);
    }

    &:nth-of-type(3) {
      transform: translate(-50%, 32px);
    }
  }

  &__trigger.active span:nth-of-type(1) {
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(-45deg);
  }
  &__trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  &__trigger.active span:nth-of-type(3) {
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(45deg);
  }
}

#page {
  &.products {
    position: absolute;
  }
}

.fixedMenu {
  position: fixed;
  top: 120px;
  right: 13px;
  z-index: 100;
  min-height: 440px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  &__link {
    padding: 32px 16px;
    font-size: 14px;
    color: $white;
    letter-spacing: 1px;

    &:first-child {
      background-color: #3983c8;
    }

    &:nth-child(2) {
      background-color: #58a2c4;
    }
  }

  &__icon {
    margin-bottom: 20px;
  }
}

.custom-logo-link {
  position: absolute;
  top: 24px;
  left: 32px;
  z-index: 100;
  max-width: 248px;

  img {
    width: 100%;
    height: auto;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
      brightness(107%) contrast(101%);
  }
}

@include mq(mobile) {
  .header {
    min-width: auto;

    &.home {
      &.-fixed {
        nav {
          display: none;
        }

        & > div {
          top: auto;
          right: auto;
          display: flex;
          align-items: center;
          padding: 0 12px 0 24px;
          background-color: $white;
        }

        .menu-menu-1-container {
          margin: 0;
        }
      }

      .header__hammenu {
        width: auto;
      }
    }

    &.products {
      height: 52px;

      .-hasLogo {
        display: none;
      }

      .header__trigger {
        span {
          background-color: $--color-primary;
        }
      }

      &.-fixed {
        & + .site-main {
          margin-top: 112px;
        }

        .header__hammenu {
          padding: 0 1.867vw 0 6.4vw;
        }
      }

      .custom-logo-link {
        display: flex;
        align-items: center;
        width: 47.64vw;
        margin: -2px 0 0 9.6vw;

        img {
          min-width: auto;
        }
      }

      .header__hammenu {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &.-fixed {
      .custom-logo-link {
        display: block;
        width: 47.64vw;
        margin: 2.14vw 0 0;

        img {
          width: 100%;
          min-width: auto;
        }
      }

      .header__trigger {
        span {
          background-color: $--color-primary;
        }
      }

      .menu {
        font-size: 16px;

        a {
          font-weight: 600;
          color: $white;
        }
      }

      .header__hammenu {
        top: auto;
        right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 3.2vw 0 6.4vw;
        background-color: rgba($color: $white, $alpha: 0.9);
      }

      .-hasLogo {
        display: none;
      }
    }

    &__nav {
      .custom-logo-link {
        display: block;
      }
    }

    &__hammenu {
      right: 3.2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .custom-logo-link {
        position: relative;
        top: auto;
        left: auto;
        display: block;
        width: 47.64vw;
        margin: 1.2vw 0 0 9.6vw;

        img {
          width: 100%;
          min-width: auto;
        }
      }
    }

    &__hammenuWrapper {
      position: fixed;
      top: 52px;
      left: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: calc(100vh - 52px);
      background-color: rgba($color: $--color-primary, $alpha: 0.9);

      li a {
        padding: 2px 4px;
        font-size: 18px;
        font-weight: 600;
        color: $white;
      }

      li {
        text-align: center;
        letter-spacing: 3px;

        &:not(:first-child) {
          margin-top: 9.4vw;
        }
      }
    }

    &__hammenuConversion {
      display: flex;
      align-items: center;
      padding: 8vw 12.8vw;
      margin-top: 40px;
      font-weight: 600;
      color: $--color-primary-tint;
      letter-spacing: 2px;
      background-color: $white;
    }

    &__hammenuConversionIcon {
      display: block;
      width: 16px;
      margin-right: 14px;
    }
  }

  .fixedMenu {
    top: auto;
    right: auto;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: auto;
    writing-mode: horizontal-tb;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 18px 0;
      font-size: 12px;
      letter-spacing: 3px;

      img {
        max-height: 16px;
      }
    }

    &__icon {
      margin: 0 12px 0 0;
    }
  }

  .custom-logo-link {
    display: none;
  }
}
