@import "_variables";

.header {
  position: relative;

  &__nav {
    div {
      position: absolute;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    &.-hasLogo {
      div {
        left: 700px;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      margin: 32px 0 0;
      font-size: 17px;

      a {
        color: $white;
      }
    }

    .menu-item {
      margin: 0 32px;
      letter-spacing: 2px;
    }
  }
}

.fixedMenu {
  position: fixed;
  top: 120px;
  right: 13px;
  z-index: 100;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  &__link {
    padding: 32px 16px;
    font-size: 14px;
    color: $white;
    letter-spacing: 1px;

    &:first-child {
      background-color: #3983c8;
    }

    &:nth-child(2) {
      background-color: #58a2c4;
    }
  }

  &__icon {
    margin-bottom: 20px;
  }
}

.custom-logo-link {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 100;

  img {
    width: 50%;
    height: 50%;
  }
}
