@import "_variables";

.header {
  position: relative;
  width: 100%;
  min-width: 1100px;

  &__nav {
    div {
      position: absolute;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    &.-hasLogo {
      div {
        left: 700px;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      margin: 34px 0 0;
      font-size: 17px;

      a {
        font-weight: 600;
        color: $white;
      }
    }

    .menu-item {
      margin: 0 32px;
      letter-spacing: 2px;
    }
  }

  &.-fixed,
  &.home.-fixed {
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: rgba($color: $white, $alpha: 0.9);
  }

  &.products,
  &.-fixed {
    box-shadow: 0px 0px 14.76px 3.24px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    .-hasLogo {
      display: flex;
      padding: 24px 0 18px;

      div {
        left: auto;
        margin: 10px 0 0 62px;
        transform: none;
      }
    }

    .menu {
      margin: 0;

      a {
        color: $--color-primary;
      }
    }

    .custom-logo-link {
      position: relative;
      top: auto;
      left: auto;
      width: 254px;
      margin: 0 0 0 32px;

      img {
        width: 100%;
        height: auto;
        filter: none;
      }
    }

    div {
      position: relative;
    }
  }

  &.products.-fixed {
    top: 0;

    & + .site-main {
      // headerの高さ96 + mainのmargin-top:60
      margin-top: 154px;
    }
  }

  &.home {
    .custom-logo-link {
      display: none;
    }

    &.-fixed {
      .custom-logo-link {
        display: block;
      }

      div {
        left: auto;
        margin: 10px 0 0 62px;
        transform: none;
      }

      nav {
        display: flex;
        padding: 24px 0 18px;
      }
    }
  }
}

#page {
  &.products {
    position: absolute;
  }
}

.fixedMenu {
  position: fixed;
  top: 120px;
  right: 13px;
  z-index: 100;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  &__link {
    padding: 32px 16px;
    font-size: 14px;
    color: $white;
    letter-spacing: 1px;

    &:first-child {
      background-color: #3983c8;
    }

    &:nth-child(2) {
      background-color: #58a2c4;
    }
  }

  &__icon {
    margin-bottom: 20px;
  }
}

.custom-logo-link {
  position: absolute;
  top: 24px;
  left: 32px;
  z-index: 100;

  img {
    width: 50%;
    height: 50%;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
      brightness(107%) contrast(101%);
  }
}
