@import "_variables";

.c-btn {
  position: relative;
  display: inline-block;
  padding: 20px 76px 20px 36px;
  font-size: 14px;
  color: $--color-primary;
  letter-spacing: 2px;
  border: 1px solid $--color-primary;
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;

  &::after {
    position: absolute;
    top: 15px;
    right: 32px;
    width: 24px;
    height: 17px;
    content: "";
    background-image: url(assets/img/icons/icon_arrow-right.png);
    background-repeat: no-repeat;
    transition: all 0.2s;
  }

  &:hover {
    color: $white;
    background-color: $--color-primary;

    &::after {
      filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
        brightness(107%) contrast(101%);
    }
  }
}

.c-banners {
  display: flex;
  justify-content: space-between;
  max-width: $--content-width-md;
  margin: 100px auto;
}

.c-banner {
  position: relative;
  $this: &;

  &__link:hover {
    & #{$this}::before,
    & #{$this}::after {
      width: 100%;
    }
  }

  &__heading {
    position: absolute;
    z-index: 100;
    margin: 24px 0 0 24px;
    font-size: 40px;
    color: $white;
    letter-spacing: 4px;

    &::after {
      position: absolute;
      top: 64px;
      left: 0;
      width: 44px;
      height: 22px;
      content: "";
      background-image: url(assets/img/icons/icon_arrow-right.png);
      filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
        brightness(107%) contrast(101%);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  img {
    box-shadow: 0px 0px 15.3px 2.7px rgba(0, 0, 0, 0.15);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 65%;
    height: 220px;
    content: "";
    background-color: $--color-primary-tint-light;
    mix-blend-mode: multiply;
    transition: all 0.2s;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 65%;
    height: 220px;
    content: "";
    background-color: $--color-primary-tint-light;
    mix-blend-mode: multiply;
    transition: all 0.2s;
  }
}

.wpp-list {
  margin: 0;
  counter-reset: ranking 0;

  li {
    position: relative;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #d7e6f4;

    &::before {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      color: $white;
      content: counter(ranking) " ";
      counter-increment: ranking 1;
      background-color: #3983c8;
    }
  }
}

.breadcrumb {
  margin-bottom: 12px;
  color: $--color-primary;

  a {
    color: $--color-primary;
  }
}

.breadcrumb__inner {
  & > span {
    &:not(:first-child) {
      margin-left: 4px;
    }
  }
}

.related {
  .entry-title {
    display: -webkit-box;
    margin-top: 0;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.related-title {
  font-size: 20px;
  color: #3983c8;
  letter-spacing: 2px;
  border-bottom: 1px solid #3983c8;
}

.related-list {
  display: flex;
}

.related-item {
  width: 22.8%;
  margin: 0;

  &:not(:first-child) {
    margin-left: 2.94%;
  }

  img {
    width: 100%;
  }
}

.related-date {
  margin-top: 6px;
  font-size: 15px;
  color: #3983c8;
}

/*＝＝＝＝＝＝＝＝＝＝＝
    フェードイン
＝＝＝＝＝＝＝＝＝＝＝＝*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  opacity: 0;
  transition: all 1s;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: $--color-primary;
  opacity: 0;
}

#effect_01,
#effect_02,
#effect_03,
#effect_04,
#effect_05,
#effect_06,
#effect_07,
#effect_08,
#effect_09,
#effect_10 {
  display: inline-block;
}

.widget_archive {
  position: relative;

  &::after {
    position: absolute;
    right: 10px;
    bottom: -2px;
    color: $black;
    content: ">";
    transform: translateY(-50%) rotate(90deg) scale(1, 1.6);
  }
}

@include mq(mobile) {
  .c-btn {
    font-size: 12px;
    &::after {
      top: 17px;
      right: 22px;
      width: 26px;
      background-size: cover;
    }
  }

  .c-banners {
    flex-direction: column;
    margin: 60px auto;

    & > div {
      padding: 0 20px;

      &:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  .c-banner {
    &::before,
    &::after {
      height: 36.9vw;
    }

    &__heading {
      font-size: 24px;
    }
  }

  .breadcrumb {
    &__inner {
      font-size: 12px;
    }
  }

  .related-list {
    flex-wrap: wrap;
  }

  .related-item {
    width: 48.5%;
    margin: 0;

    &:not(:first-child) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-left: 3%;
    }

    img {
      width: 100%;
    }
  }

  .widget {
    select {
      font-size: 16px;
    }
  }
}
