@import "_variables";

.service {
  &__lead {
    max-width: $--content-width-md;
    margin: 100px auto 0;
  }

  &__leadHeading {
    margin: 0;
    font-size: 30px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 4px;
  }

  &__leadContents {
    display: flex;
    margin: 64px auto 0;
  }

  &__leadImage {
    box-shadow: 0px 0px 13.14px 4.86px rgba(0, 0, 0, 0.1);
  }

  &__leadText {
    margin-left: 48px;
  }

  &__subHeading {
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.8;
    color: $--color-primary;
    letter-spacing: 4px;
  }

  &__leadParagraph {
    margin: 32px 0 0;
    font-size: 17px;
    line-height: 1.88;
    color: $black;
  }

  &__feature {
    padding: 88px 0 100px;
    margin: 114px 0 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__featureInner {
    max-width: $--content-width-md;
    margin: 0 auto;
  }

  &__featureHeading {
    margin: 0;
    font-size: 30px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 4px;
  }

  &__featurePoints {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0;
  }

  &__featurePointNumWrapper {
    position: absolute;
    top: -8px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: $white;
    background-color: #3983c8;
  }

  &__featurePointText {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__featurePointNum {
    margin-top: 8px;
    font-size: 40px;
    line-height: 1;
  }

  &__featurePoint {
    position: relative;
    width: 48.2%;
    padding: 16px 28px 24px 28px;
    margin-bottom: 40px;
    background-color: $white;
    box-shadow: 0px 0px 7.8px 2.2px rgba(0, 0, 0, 0.15);
  }

  &__featurePointHeading {
    min-height: 70px;
    margin: 0;
    font-size: 20px;
    line-height: 1.75;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__featurePointParagraph {
    margin: 20px 0 0;
    font-size: 15px;
  }

  &__featurePhotos {
    display: flex;
    justify-content: space-between;
  }

  &__featurePhoto {
    width: 31.2%;
    margin: 0;

    & > img {
      width: 100%;
      box-shadow: 0px 0px 7.8px 2.2px rgba(0, 0, 0, 0.15);
    }
  }

  &__featurePhotoCaption {
    margin: 8px 0 0;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
  }

  &__flow {
    padding: 88px 0 100px;
    background-color: #eeeeee;
  }

  &__flowInner {
    max-width: $--content-width-md;
    margin: 0 auto;
  }

  &__flowHeading {
    margin: 0;
    font-size: 30px;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 4px;
  }

  &__flowSteps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 0;
  }

  &__flowStep {
    position: relative;
    text-align: center;

    & > img {
      max-height: 256px;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 128px;
      right: -28px;
      width: 48px;
      height: 40px;
      content: "";
      background-image: url(assets/img/icons/icon_arrow-right.png);
      background-size: cover;
    }
  }

  &__flowStepNumber {
    display: block;
    margin: 8px 0 0;
    font-size: 15px;
    color: #3983c8;
    text-align-last: center;
    letter-spacing: 2px;
  }

  &__flowStepHeading {
    margin: 10px 0 0;
    font-size: 20px;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__flowStepParagraph {
    width: 76%;
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 2.1;
    text-align: left;
  }
}

@include mq(mobile) {
  .service {
  }
}
