@import "_variables";

.service {
  &__heading {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 4px;

    &.contact {
      color: $white;
    }
  }

  &__lead {
    max-width: $--content-width-md;
    margin: 100px auto 0;
  }

  &__leadContents {
    display: flex;
    margin: 64px auto 0;
  }

  &__leadImage {
    box-shadow: 0px 0px 13.14px 4.86px rgba(0, 0, 0, 0.1);
  }

  &__leadText {
    margin-left: 48px;
  }

  &__subHeading {
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.8;
    color: $--color-primary;
    letter-spacing: 4px;
  }

  &__leadParagraph {
    margin: 32px 0 0;
    font-size: 17px;
    line-height: 1.88;
    color: $black;
    letter-spacing: 1px;

    &.-primary {
      color: #3983c8;
    }
  }

  &__leadLink {
    color: #3983c8;
    text-decoration: underline;
  }

  &__price {
    padding-top: 80px;
    margin: 108px auto 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__priceContents {
    display: flex;
    max-width: $--content-width-md;
    margin: 48px auto 0;
  }

  &__pricePicture {
    width: 37.8%;
  }

  &__feature {
    padding: 96px 0 100px;
    counter-reset: merit-num 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__featureInner {
    max-width: $--content-width-md;
    margin: 0 auto;
  }

  &__featurePoints {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0;
  }

  &__featurePointNumWrapper {
    position: absolute;
    top: -8px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: $white;
    background-color: #3983c8;
  }

  &__featurePointText {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__featurePointNum {
    margin-top: 8px;
    font-size: 40px;
    line-height: 1;
  }

  &__featurePoint {
    position: relative;
    width: 48.2%;
    padding: 16px 24px 24px;
    margin-bottom: 40px;
    background-color: $white;
    box-shadow: 0px 0px 7.8px 2.2px rgba(0, 0, 0, 0.15);
  }

  &__featurePointHeading {
    min-height: 70px;
    margin: 0;
    font-size: 20px;
    line-height: 1.75;
    color: $--color-primary;
    letter-spacing: 4px;
  }

  &__featurePointParagraph {
    margin: 20px 0 0;
    font-size: 15px;
    line-height: 2;
  }

  &__featurePhotos {
    display: flex;
    justify-content: space-between;
  }

  &__featurePhoto {
    width: 31.2%;
    margin: 0;

    & > img {
      width: 100%;
      box-shadow: 0px 0px 7.8px 2.2px rgba(0, 0, 0, 0.15);
    }
  }

  &__featurePhotoCaption {
    margin: 8px 0 0;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
  }

  &__execution {
    margin: 88px auto 0;
  }

  &__foldWrapper {
    display: flex;
  }

  &__foldPicture {
    width: 50%;

    img {
      vertical-align: bottom;
    }
  }

  &__foldContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: $--color-primary-tint-very-light;
  }

  &__foldParagraph {
    margin: 32px 0 0;
    font-size: 17px;
    line-height: 1.88;
    text-align: center;
  }

  &__foldButton {
    position: relative;
    padding: 24px 12px;
    margin: 48px auto 0;
    font-size: 14px;
    color: $--color-primary;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid $--color-primary;

    &:hover {
      cursor: pointer;
    }

    &.-close {
      &::after {
        position: absolute;
        bottom: -18px;
        left: 50%;
        width: 22px;
        height: 30px;
        content: "";
        background-image: url(assets/img/icons/icon_arrow-right.png);
        background-size: cover;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    &.-open {
      &::before {
        position: absolute;
        top: -18px;
        left: 50%;
        width: 22px;
        height: 30px;
        content: "";
        background-image: url(assets/img/icons/icon_arrow-right.png);
        background-size: cover;
        transform: translateX(-50%) rotate(270deg);
      }
    }
  }

  &__foldedBlock {
    display: none;
    opacity: 0;

    &.-open {
      display: block;
      opacity: 1;
      animation: fadeIn 1s ease 1 normal;

      .fadein {
        opacity: 0;
      }

      .fadein.scrollin {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  &__flow {
    padding: 88px 0 100px;
    background-color: #eeeeee;
  }

  &__flowInner {
    max-width: $--content-width-md;
    margin: 0 auto;
  }

  &__flowSteps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 0;
  }

  &__flowStep {
    position: relative;
    text-align: center;

    & > img {
      max-height: 256px;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 128px;
      right: -28px;
      width: 48px;
      height: 40px;
      content: "";
      background-image: url(assets/img/icons/icon_arrow-right.png);
      background-size: cover;
    }
  }

  &__flowStepNumber {
    display: block;
    margin: 8px 0 0;
    font-size: 15px;
    color: #3983c8;
    text-align-last: center;
    letter-spacing: 2px;
  }

  &__flowStepHeading {
    margin: 10px 0 0;
    font-size: 20px;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__flowStepParagraph {
    width: 76%;
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 2.1;
    text-align: left;
  }

  &__coatingFeature {
    max-width: $--content-width-md;
    margin: 100px auto 0;
    counter-reset: feature-num 0;
  }

  &__coatingFeatures {
    display: flex;
    justify-content: space-between;
    margin: 88px auto 0;
  }

  &__coatingFeatureWrapper {
    position: relative;
    width: 31%;
    box-shadow: 0px 0px 6.57px 2.43px rgba(0, 0, 0, 0.05);

    &::before {
      position: absolute;
      top: -38px;
      left: 50%;
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      color: #4c8fcd;
      text-indent: 6px;
      letter-spacing: 6px;
      content: counter(feature-num, decimal-leading-zero);
      counter-increment: feature-num 1;
      transform: translateX(-50%);
    }
  }

  &__coatingFeatureSubHeading {
    margin: 48px 0 0;
    font-size: 20px;
    color: $--color-primary;
    text-align: center;
    text-indent: -4px;
    letter-spacing: 4px;
  }

  &__coatingFeatureList {
    padding: 0 24px 40px 54px;
    margin: 24px auto 0;
  }

  &__coatingFeatureItem {
    position: relative;
    line-height: 2.1;

    &::before {
      position: absolute;
      top: 8px;
      left: -26px;
      width: 20px;
      height: 14px;
      content: "";
      background-image: url(assets/img/icons/icon_check-simple.png);
      background-size: cover;
    }
  }

  &__nanoCoat {
    margin: 100px auto;
  }

  &__nanoCoatWrapper {
    max-width: $--content-width-md;
    padding: 12px 12px 24px;
    margin: 48px auto 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__nanoCoatImages {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 0;
    margin: 8px;
    background-color: $white;
  }

  &__nanoCoatCautionWrapper {
    margin: 32px 0 0;
    text-align: center;
  }

  &__nanoCoatCaution {
    display: block;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: $--color-primary;
    text-align: center;
    border-bottom: 1px solid $--color-primary;
  }

  &__nanoCoatParagraph {
    padding: 0 40px;
    line-height: 2.33;
  }

  &__verification {
    padding: 100px 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__verificationInner {
    max-width: $--content-width-md;
    margin: 0 auto;
  }

  &__verificationTestCase {
    position: relative;
    padding: 36px 40px;
    margin: 80px 0 0;
    background-color: $white;
    box-shadow: 0px 0px 6.57px 2.43px rgba(0, 0, 0, 0.05);

    &:not(:first-of-type) {
      margin: 64px 0 0;
    }
  }

  &__verificationNumWrapper {
    position: absolute;
    top: -8px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: $white;
    background-color: #3983c8;
  }

  &__verificationText {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__verificationCaseHeading {
    margin: 0 0 48px 108px;
    font-size: 20px;
    color: $--color-primary;
    letter-spacing: 3px;
  }

  &__verificationNum {
    margin-top: 8px;
    font-size: 40px;
    line-height: 1;
  }

  &__verificationCaseContents {
    margin: 72px 0 0;

    &.-first {
      margin: 0;
    }

    &.-doubleCol {
      display: flex;
      justify-content: space-between;
    }

    &.-textOnly {
      margin: 48px 0 0;
    }
  }

  &__verificationCaseSubHeading {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: $--color-primary-tint;
    letter-spacing: 1px;
  }

  &__verificationCaseContent {
    margin-right: 60px;
  }

  &__verificationParagraph {
    margin-top: 10px;
    font-size: 15px;
    line-height: 2.3;
  }

  &__verificationGraph {
    max-width: 50%;
  }

  &__achievement {
    max-width: $--content-width-md;
    margin: 88px auto 64px;
  }

  &__coronaFlow {
    max-width: $--content-width-md;
    margin: 100px auto 80px;
    counter-reset: flow-num 0;
  }

  &__headingParagraph {
    margin: 24px 0 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    letter-spacing: 2px;

    &.-place {
      margin: 16px 0 0;
    }

    &.-foldBefore {
      margin-bottom: 48px;
    }
  }

  &__coronaFlowList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 100px;
  }

  &__coronaFlowItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    padding-top: 8px;
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
    color: $--color-primary-tint;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid $--color-primary-tint;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    &::before {
      position: absolute;
      top: 12px;
      font-size: 16px;
      content: counter(flow-num, decimal-leading-zero);
      counter-increment: flow-num 1;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      right: -38px;
      width: 24px;
      height: 17px;
      content: "";
      background-image: url(assets/img/icons/icon_arrow-right-tint.png);
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__coronaFlowCaseFacility {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 56px 0 0;
  }

  &__coronaCasePhotoCaption {
    position: absolute;
    top: 16px;
    left: 20px;
    font-weight: 600;
    color: $white;
    letter-spacing: 3px;
  }

  &__achievementPlace {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 0;
  }

  &__achievementFigure {
    position: relative;
    width: 31%;
    margin: 0 0 34px;
  }

  &__aboutNanoCoat {
    max-width: $--content-width-md;
    margin: 88px auto 0;
  }

  &__aboutNanoCoatContents {
    padding: 32px;
    margin: 40px auto 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__aboutNanoCoatParagraph {
    margin: 8px 0 0;
    font-size: 15px;
    line-height: 2.33;
    letter-spacing: 0.5px;
  }

  &__aboutNanoCoatHeading {
    margin: 40px auto 0;
    font-size: 18px;
    color: $--color-primary;
    text-align: center;
    text-decoration: underline;
  }

  &__aboutNanoCoatInner {
    padding: 24px 24px 24px 40px;
    margin: 40px auto 0;
    background-color: $white;
  }

  &__aboutNanoCoatSubHeading {
    margin: 0;
    font-size: 18px;
    text-decoration: underline;
  }

  &__aboutNanoCoatIllust {
    display: flex;
    margin-top: 24px;
  }

  &__aboutNanoCoatList {
    width: 53.4%;
    margin: 0;
  }

  &__aboutNanoCoatItem {
    padding: 8px 0;
    font-size: 15px;
    line-height: 1.66;
    text-align: center;
    border: 1px solid $--color-primary-tint;

    &:not(:first-child) {
      margin-top: 12px;
    }

    strong {
      display: block;
    }
  }

  &__aboutNanoCoatPicture {
    display: flex;
    align-items: flex-end;
    width: 52%;
    margin-left: 24px;
  }

  &__nanoCoatCase {
    padding: 100px 0;
    margin: 88px auto 0;
    background-color: $--color-primary-tint-very-light;
  }

  &__nanoCoatCaseBlock {
    position: relative;
    max-width: $--content-width-md;
    padding: 16px 48px 60px;
    margin: 64px auto 0;
    background-color: $white;
    box-shadow: 0px 0px 6.57px 2.43px rgba(0, 0, 0, 0.05);

    &:first-of-type {
      margin: 0 auto;
    }

    &.-verification {
      padding-bottom: 40px;
    }
  }

  &__nanoCoatCaseLabel {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 25px 22.5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-indent: 5px;
    letter-spacing: 5px;
    content: "";
    background-color: #3983c8;
  }

  &__newLine {
    display: block;
    line-height: 1;
  }

  &__nanoCoatCaseHeading {
    margin-left: 100px;
    font-size: 20px;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__nanoCoatCaseContents {
    display: flex;
    margin-top: 32px;
  }

  &__nanoCoatCaseContentsInner {
    &.-store {
      width: 80.4%;
    }
  }

  &__nanoCoatCaseSubHeading {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    color: $--color-primary-tint;
  }

  &__nanoCoatCaseSmallHeading {
    margin: 0;
    font-weight: 400;

    &:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  &__nanoCoatCaseList {
    margin: 0 auto;
  }

  &__nanoCoatCaseItem {
    display: inline-block;
    margin: 12px 4% 0 0;

    &::before {
      content: "・";
    }
  }

  &__nanoCoatCaseItemLabel {
    display: inline-block;
    margin-right: 1em;
  }

  &__nanoCoatCaseSpan {
    display: block;
    margin-top: 12px;
  }

  &__nanoCoatCasePicture {
    &.-large {
      img {
        vertical-align: bottom;
      }
    }

    &.-measureMachine {
      img {
        max-height: 240px;
      }
    }

    &.-measure {
      margin-left: 100px;

      img {
        max-height: 212px;
      }
    }

    &.-before {
      display: block;
      margin-top: 16px;
    }
  }

  &__nanoCoatCasePictures {
    &.-case {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 16px;
      margin-top: 16px;
    }

    &.-store {
      display: flex;
      align-items: center;
      margin-top: -32px;
    }
  }

  &__nanoCoatCaseInner {
    margin: 72px auto 0;
  }

  &__nanoCoatCaseUpper {
    display: flex;
    justify-content: space-between;
  }

  &__nanoCoatCaseListBlock {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
  }

  &__nanoCoatCaseItemBlock {
    width: 30%;
    padding: 12px 32px 24px;
    box-shadow: 0px 0px 6.57px 2.43px rgba(0, 0, 0, 0.05);
  }

  &__nanoCoatCaseItemBeforeAfter {
    figure {
      margin: 0;
    }
  }

  &__nanoCoatCaseItemHeading {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: $--color-primary-tint;
    text-align: center;
  }

  &__nanoCoatCaseItemSpan {
    display: block;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
    color: $--color-primary-tint;
    text-align: center;

    &.-before {
      &::after {
        display: block;
        width: 0;
        height: 0;
        margin: 10px auto 16px;
        content: "";
        border-color: $--color-primary-tint transparent transparent transparent;
        border-style: solid;
        border-width: 24px 32px 0 32px;
      }
    }
  }

  &__nanoCoatCaseLabels {
    display: flex;
    margin-top: 48px;
  }

  &__nanoCoatCaseFlowLabel {
    width: 50%;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    text-align: center;
    letter-spacing: 2px;

    &:first-of-type {
      background-color: $--color-primary-tint;
    }

    &:nth-of-type(2) {
      background-color: $--color-primary;
    }
  }

  &__nanoCoatVerificationPicture {
    display: block;
    margin-top: 24px;
  }

  &__pcr {
    position: relative;
    width: 620px;
    margin: 100px auto;
    overflow: hidden;
    text-align: center;

    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.1);
      }
    }
  }

  &__merit {
    max-width: $--content-width-md;
    margin: 100px auto 0;
    counter-reset: merit-num 0;
  }

  &__meritItem {
    position: relative;
    width: 31%;
    padding: 0 32px 40px;
    box-shadow: 0px 0px 6.57px 2.43px rgba(0, 0, 0, 0.05);

    &::before {
      position: absolute;
      top: -38px;
      left: 50%;
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      color: #4c8fcd;
      text-indent: 6px;
      letter-spacing: 6px;
      content: counter(merit-num, decimal-leading-zero);
      counter-increment: merit-num 1;
      transform: translateX(-50%);
    }
  }

  &__meritSubHeading {
    margin-top: 48px;
    font-size: 20px;
    color: $--color-primary;
    text-align: center;
  }

  &__meritParagraph {
    margin-bottom: 0;
    line-height: 2.14;
    text-align: justify;
  }

  &__pcrLink {
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 148px;
      height: 1px;
      content: "";
      background-color: $white;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__pcrImage {
    img {
      vertical-align: bottom;
      transition: all 1.5s;
    }
  }

  &__pcrText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    color: $white;
    transform: translate(-50%, -50%);
  }

  &__pcrParagraph {
    margin: 0;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 4px;
  }

  &__pcrSpan {
    display: block;
    margin: 6px 0 0;
    letter-spacing: 3px;
  }

  &__pcrArrowIcon {
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 56px;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
      brightness(107%) contrast(101%);
  }

  &__contactLink {
    padding: 72px 0;
    text-align: center;
    background-image: url(assets/img/service/contact.jpg);
    background-size: cover;
  }

  &__contactLinkHeading {
    margin: 0;
    font-size: 30px;
    color: $white;
    letter-spacing: 4px;
  }

  &__contactLinkParagraph {
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    color: $white;
    letter-spacing: 3px;
  }

  &__contactLinkButtons {
    display: flex;
    justify-content: center;
    margin: 24px 0 0;
  }

  &__contactLinkButton {
    position: relative;
    display: inline-block;
    width: 400px;
    padding: 40px 76px;
    font-size: 14px;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    letter-spacing: 2px;
    border: 1px solid $white;
    transition: all 0.2s;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:hover {
      color: $--color-primary;
      background-color: $white;

      &::after {
        filter: none;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 32px;
      width: 24px;
      height: 17px;
      content: "";
      background-image: url(assets/img/icons/icon_arrow-right.png);
      filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
        brightness(107%) contrast(101%);
      background-repeat: no-repeat;
      transition: all 0.2s;
      transform: translateY(-100%);
    }

    &.-primary {
      color: $--color-primary;
      background-color: $white;

      &::after {
        filter: none;
      }

      &:hover {
        color: $white;
        background-color: transparent;

        &::after {
          filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
            brightness(107%) contrast(101%);
        }
      }
    }
  }

  &__contactPhone {
    margin: 40px 0 0;
    font-weight: 600;
    color: $white;
    letter-spacing: 2px;
  }

  &__contactPhoneHeading {
    display: block;
    font-size: 18px;
  }

  &__contactPhoneBusinessHours {
    display: block;
    margin: 8px 0 0;
    font-size: 13px;
  }

  &__contactPhoneAddress {
    font-size: 22px;
    font-style: normal;

    a {
      color: $white;
    }
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@include mq(mobile) {
  .service {
    &__heading {
      padding: 0 20px;
    }

    &__headingParagraph {
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 1px;

      &.-foldBefore {
        margin-bottom: 40px;
      }
    }

    &__lead {
      margin: 60px 0 0;
    }

    &__heading {
      font-size: 22px;
      letter-spacing: 3px;
    }

    &__leadContents {
      flex-direction: column;
      padding: 0 20px;
      margin: 20px 0 0;
    }

    &__leadText {
      margin: 20px 0 0;
    }

    &__subHeading {
      font-size: 22px;
      letter-spacing: 3px;
    }

    &__leadParagraph {
      margin: 16px 0 0;
    }

    &__leadParagraph {
      font-size: 13px;
    }

    &__price {
      padding: 60px 20px;
      margin: 80px 0 0;
    }

    &__priceContents {
      flex-direction: column;
      margin: 24px auto 0;
    }

    &__pricePicture {
      width: 100%;
      margin: 0 auto;

      img {
        width: 100%;
        height: 60vw;
        object-fit: cover;
      }
    }

    &__feature {
      padding: 24px 0 80px;
    }

    &__featurePoints {
      flex-direction: column;
      padding: 0 20px;
      margin: 40px 0 0;
    }

    &__featurePoint {
      width: 100%;
      margin-bottom: 32px;
    }

    &__featurePointHeading {
      min-height: 48px;
      font-size: 4vw;
    }

    &__featurePointParagraph {
      margin: 12px 0 0;
      font-size: 13px;
    }

    &__featurePointNumWrapper {
      width: 60px;
      height: 60px;
    }

    &__featurePointText {
      font-size: 10px;
    }

    &__featurePointNum {
      margin-top: 6px;
      font-size: 18px;
    }

    &__featurePhotos {
      flex-direction: column;
    }

    &__featurePhoto {
      width: 80%;
      margin: 0 auto;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &__featurePhotoCaption {
      margin: 0;
      line-height: 1.5;
    }

    &__execution {
      margin: 60px auto 0;
    }

    &__foldWrapper {
      flex-direction: column;

      &.-nanozoneCoat {
        flex-direction: column-reverse;
      }
    }

    &__foldPicture {
      width: 100%;
    }

    &__foldContents {
      width: 100%;
      padding: 32px 16px 0;
    }

    &__foldParagraph {
      margin: 12px 0 0;
      font-size: 15px;
      line-height: 1.6;
      text-align: left;
    }

    &__foldButton {
      margin: 40px auto;
      font-size: 13px;
      letter-spacing: 1px;
    }

    &__flow {
      padding: 60px 0 80px;
    }

    &__flowInner {
      padding: 0 20px;
    }

    &__flowSteps {
      flex-direction: column;
      margin: 40px 0 0;
    }

    &__flowStep {
      & > img {
        width: 68%;
      }

      &:not(:first-child) {
        margin-top: 80px;
      }

      &:not(:last-child)::after {
        top: auto;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    &__coatingFeature {
      padding: 0 20px;
      margin: 60px 0 0;
    }

    &__coatingFeatures {
      flex-direction: column;
      margin: 48px auto 0;

      &.-merit {
        padding: 0 20px;
      }
    }

    &__coatingFeatureWrapper {
      width: 100%;

      &::before {
        top: -32px;
        font-size: 40px;
        text-indent: 5px;
        letter-spacing: 5px;
      }

      &:not(:first-child) {
        margin-top: 48px;
      }
    }

    &__coatingFeatureSubHeading {
      margin: 44px 0 0;
      font-size: 18px;
    }

    &__coatingFeatureList {
      margin: 20px auto 0;
    }

    &__coatingFeatureItem {
      font-size: 13px;

      &::before {
        left: -24px;
        width: 16px;
        height: 12px;
      }
    }

    &__nanoCoat {
      margin: 60px auto 0;
    }

    &__nanoCoatHeading {
      padding: 0 20px;
    }

    &__nanoCoatWrapper {
      padding: 8px 8px 12px;
      margin: 32px auto 0;
    }

    &__nanoCoatImages {
      flex-direction: column;
      padding: 12px 0 0;

      & > img {
        padding: 8px 0 0;

        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }

    &__nanoCoatCautionWrapper {
      padding: 0 20px;
    }

    &__nanoCoatCaution {
      padding-bottom: 4px;
      font-size: 15px;
      line-height: 1.5;
    }

    &__nanoCoatParagraph {
      padding: 0 12px;
      font-size: 13px;
    }

    &__achievement {
      padding: 0 20px;
      margin: 60px auto 64px;
    }

    &__achievementPlace {
      margin: 32px 0 0;
    }

    &__achievementFigure {
      margin: 0 0 16px;
    }

    &__aboutNanoCoat {
      margin: 60px auto 0;
    }

    &__aboutNanoCoatContents {
      padding: 24px;
      margin: 24px auto 0;
    }

    &__aboutNanoCoatParagraph {
      font-size: 14px;
      line-height: 1.6;
    }

    &__aboutNanoCoatHeading {
      font-size: 16px;
      text-align: left;
    }

    &__aboutNanoCoatInner {
      padding: 20px;
      margin: 32px auto 0;
    }

    &__aboutNanoCoatSubHeading {
      font-size: 16px;
    }

    &__aboutNanoCoatIllust {
      flex-direction: column;
    }

    &__aboutNanoCoatList {
      width: 100%;
    }

    &__aboutNanoCoatItem {
      padding: 16px;
      font-size: 14px;
      text-align: left;

      strong {
        display: inline;
      }
    }

    &__aboutNanoCoatPicture {
      width: 100%;
      margin: 24px 0 0;
    }

    &__nanoCoatCase {
      padding: 48px 20px;
      margin: 40px auto 0;
    }

    &__nanoCoatCaseBlock {
      padding: 6px 20px 24px;
      margin: 40px auto 0;
    }

    &__nanoCoatCaseLabel {
      padding: 12px 7px;
      font-size: 16px;
      line-height: 1;
    }

    &__nanoCoatCaseHeading {
      margin: 8px 0 0 70px;
      font-size: 18px;
      letter-spacing: 0;
    }

    &__nanoCoatCaseContents {
      flex-direction: column;
      margin: 0;
    }

    &__newLine {
      margin-top: 4px;
    }

    &__nanoCoatCaseSubHeading {
      margin: 28px 0 0;
    }

    &__nanoCoatCaseSmallHeading {
      margin-top: 8px;

      &:not(:first-of-type) {
        margin-top: 26px;
      }
    }

    &__nanoCoatCaseContentsInner {
      font-size: 13px;

      &.-store {
        width: 100%;
      }
    }

    &__nanoCoatCaseList {
      font-size: 13px;
    }

    &__nanoCoatCaseItem {
      margin: 6px 2% 0 0;
    }

    &__nanoCoatCaseSpan {
      margin-top: 4px;
      font-size: 13px;
    }

    &__nanoCoatCasePictures {
      &.-case {
        grid-column-gap: 12px;
        margin-top: 12px;
      }

      &.-store {
        margin-top: 24px;
      }
    }

    &__nanoCoatCasePicture {
      &.-large {
        display: block;
        margin-top: 12px;
      }

      &.-measureMachine,
      &.-measure {
        img {
          max-height: initial;
        }
      }

      &.-measureMachine {
        margin: 0 24px;
      }

      &.-measure {
        margin-left: 24px;
      }

      &.-before {
        position: relative;
        margin-top: 0;

        &::after {
          position: absolute;
          top: 50%;
          right: -32%;
          width: 0;
          height: 0;
          content: "";
          border-color: transparent transparent transparent #007bff;
          border-style: solid;
          border-width: 4.3vw 0 4.3vw 3.47vw;
          transform: translateY(-50%);
        }
      }
    }

    &__nanoCoatCaseUpper {
      flex-direction: column;
    }

    &__nanoCoatCaseInner {
      margin: 40px auto 0;
    }

    &__nanoCoatCaseListBlock {
      flex-direction: column;
      margin: 20px auto 0;
    }

    &__nanoCoatCaseItemBlock {
      width: 100%;
      padding: 12px 16px;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &__nanoCoatCaseItemBeforeAfter {
      display: flex;
      margin-top: 10px;

      figure {
        &:not(:first-of-type) {
          margin-left: 20%;
        }
      }
    }

    &__nanoCoatCaseItemHeading {
      font-size: 16px;
    }

    &__nanoCoatCaseItemLabel {
      margin-right: 0;
    }

    &__nanoCoatCaseItemSpan {
      margin-top: 0;
      font-size: 13px;

      &.-before {
        &::after {
          content: none;
        }
      }
    }

    &__nanoCoatVerificationContentsInner {
      display: flex;
      align-items: center;
      margin-top: 32px;
    }

    &__nanoCoatCaseLabels {
      flex-direction: column;
      margin-top: 0;
    }

    &__nanoCoatCaseFlowLabel {
      width: 100%;
      height: 50%;
      padding: 0 8px;
      font-size: 13px;
      writing-mode: vertical-rl;
    }

    &__nanoCoatVerificationPicture {
      margin: 0 0 0 16px;
    }

    &__verification {
      padding: 60px 0;
    }

    &__verificationInner {
      padding: 0 20px;
    }

    &__verificationTestCase {
      padding: 20px;
      margin: 60px 0 0;

      &:not(:first-of-type) {
        margin: 54px 0 0;
      }
    }

    &__verificationNumWrapper {
      width: 60px;
      height: 60px;
    }

    &__verificationHeading {
      font-size: 22px;
    }

    &__verificationText {
      font-size: 10px;
    }

    &__verificationNum {
      margin-top: 6px;
      font-size: 18px;
    }

    &__verificationCaseHeading {
      margin: 0 0 32px 74px;
      font-size: 18px;
      letter-spacing: 2px;
    }

    &__verificationCaseContents {
      &.-doubleCol {
        flex-direction: column;
      }
    }

    &__verificationCaseSubHeading {
      font-size: 16px;
    }

    &__verificationCaseContent {
      margin-right: 0;
    }

    &__verificationParagraph {
      font-size: 13px;
    }

    &__verificationGraph {
      max-width: 100%;
      margin-top: 12px;
    }

    &__verificationCaseContents {
      margin: 56px 0 0;

      &.-textOnly {
        margin: 40px 0 0;
      }
    }

    &__merit {
      margin: 60px auto 0;
    }

    &__meritItem {
      width: 100%;
      padding: 0 20px 40px;

      &:not(:first-child) {
        margin-top: 48px;
      }
    }

    &__coronaFlow {
      margin: 60px 0 48px;
    }

    &__coronaFlowParagraph {
      margin: 16px 0 0;
      font-size: 15px;
      letter-spacing: 1px;
    }

    &__coronaFlowList {
      flex-direction: column;
      padding: 0 20px;
      margin: 48px 0 80px;
    }

    &__coronaFlowItem {
      justify-content: flex-start;
      width: 100%;
      height: 78px;
      padding: 0 0 0 90px;
      font-size: 3.74vw;
      border-radius: 60px;

      &::before {
        top: -1px;
        left: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 78px;
        height: 78px;
        font-size: 18px;
        border: 1px solid $--color-primary-tint;
        border-radius: 50%;
      }

      &:not(:first-child) {
        margin-top: 60px;
      }

      &:not(:last-child)::after {
        top: auto;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    &__coronaFlowCaseFacility {
      margin: 40px 0 0;
    }

    &__coronaCasePhotoCaption {
      top: 12px;
      left: 16px;
      font-size: 13px;
      letter-spacing: 2px;
    }

    &__coronaCaseFigure {
      margin: 0 0 3.5vw;

      &:nth-child(2n) {
        margin-left: 3.5vw;
      }
    }

    &__coronaCasePlace {
      margin: 32px 0 0;
    }

    &__coronaCasePlaceFigure {
      width: 48%;
      margin: 0 0 20px;
    }

    &__pcr {
      width: 100%;
      margin: 48px auto 0;
    }

    &__pcrParagraph {
      font-size: 22px;
    }

    &__pcrLink {
      &::before,
      &::after {
        width: 40px;
      }
    }

    &__pcrText {
      width: 100%;
    }

    &__pcrSpan {
      font-size: 13px;
    }

    &__pcrArrowIcon {
      right: 0;
      width: 40px;
    }

    &__contactLink {
      padding: 60px 20px;
    }

    &__contactLinkParagraph {
      font-size: 16px;
    }

    &__contactLinkButtons {
      flex-direction: column;
    }

    &__contactLinkButton {
      width: 100%;
      padding: 36px 0;

      &:not(:first-child) {
        margin: 24px 0 0 0;
      }
    }
  }
}
