// Border
// $border-radius-regular: 4px;
// $border-width-regular: 1px;

// hover Opacity Rule
// $--hover-opacity: 0.6;

// Color Rule
$--color-primary: #04287e;
$--color-primary-tint: #4c8fcd;
$--color-primary-tint-light: #8abed6;

$white: #ffffff;
$black: #333333;

// Width Rule
$--content-width-xs: 320px;
$--content-width-sm: 1000px;
$--content-width-md: 1150px;
$--content-width-xl: 1280px;
